#hero {
  min-height: 70vh;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 12rem;
}

.hero__left--items {
  color: white;
}

.hero__left--items h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 5.4rem;
  line-height: 6.8rem;
  margin-bottom: 3.4rem;
}
.hero__left--items p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 4.2rem;
  color: #adadb0;
  margin-bottom: 3.4rem;
}

.hero__left--items span {
  color: var(--secondary-color);
}

.left--item__btn button {
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.left--item__btn button:hover {
  border-color: var(--secondary-color);
}

.hero__btn1 {
  margin-right: 2rem;
}

.hero__btn1 i {
  margin-right: 0.8rem;
}

.hero__btn2 i {
  margin-right: 0.8rem;
}

.right--item__img {
  position: relative;
}

.blobshape {
  margin-right: 20rem;
  filter: drop-shadow(10px -20px 30px #b244dd);
}
.axiesimg {
  position: absolute;
  left: 12.8rem;
  top: -3.5rem;
  /* animation: astronaut-movement 10s linear alternate;
  animation-iteration-count: infinite;
  animation-play-state: running; */
}

.space {
  position: absolute;
  left: 1rem;
  bottom: 8.8rem;
}

.plus1 {
  position: absolute;
  left: 43rem;
  top: 32rem;
}

.plus2 {
  position: absolute;
  left: 40rem;
  top: 33rem;
  transform: rotate(150.68deg);
}

.plus3 {
  position: absolute;
  left: 0rem;
  top: 18rem;
  transform: rotate(23deg);
}

.star1 {
  position: absolute;
  left: 47rem;
  top: 13rem;
  transform: rotate(150.68deg);
}

.star2 {
  position: absolute;
  left: 0rem;
  top: 15rem;
  transform: rotate(23deg);
}

.star3 {
  position: absolute;
  left: 55rem;
  top: 26rem;
}

.star4 {
  position: absolute;
  left: 56rem;
  top: 30rem;
}

.star5 {
  position: absolute;
  left: 44rem;
  top: 0rem;
}

.star6 {
  position: absolute;
  left: 58rem;
  top: 28rem;
}
