#header {
  /* min-height: 15vh; */
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #14141f;
  width: 100%;
  border-bottom: 2px solid #292933ef;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 1rem 0;
}

.navbar__logo img {
  height: 4rem;
  margin-right: 6.6rem;
}

.navbar__logo img:hover {
  cursor: pointer;
}

.nav__lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list a {
  color: white;
  margin-right: 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.4s ease;
}

.nav__list a:hover {
  border-bottom: 0.2rem solid var(--secondary-color);
  padding-bottom: 0.5rem;
}

.nav__list a i {
  font-size: 1.2rem;
}

.right__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__search i {
  font-size: 1.6rem;
  color: white;
  margin-right: 2.5rem;
}

.navbar__search:hover {
  cursor: pointer;
}

.navbar__wallet button {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 2.5rem;
}

.navbar__wallet button:hover {
  border-color: var(--secondary-color);
}

.navbar__wallet button i {
  margin-right: 1.1rem;
}

.navbar__icon {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.navbar__icon--sun img {
  margin-right: 1.3rem;
  background: #343444;
  padding: 0.6rem 0.6rem 0.7rem 0.7rem;
  border-radius: 13px;
  align-items: center;
}

.navbar__icon--sun img:hover {
  background: #3d3d4d;
  cursor: pointer;
}

.navbar__icon--item img {
  margin-right: 1.3rem;
  background: #343444;
  padding: 0.9rem 0.9rem 1rem 1rem;
  border-radius: 13px;
  align-items: center;
}

.navbar__icon--item img:hover {
  background: #3d3d4d;
  cursor: pointer;
}

.hr__nav {
  height: 2px;
  background-color: #292933;
  border: none;
  margin-top: 1.5rem;
}
